

<nav class="navbar navbar-expand-sm" style="background-color: #ff5c9d">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Epic Online</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productReviews">Review</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li> 
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addnewproduct">Add new product</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
  